html{
    height: 100%;
}
.more input{
    display: none;
}
html,
body {
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}


.tab-folder > .tab-content:target ~ .tab-content:last-child,
.tab-folder > .tab-content {
    display: none;
}

.tab-folder > :last-child,
.tab-folder > .tab-content:target {
    display: block;
}

.tab-folder {
    padding: 0px 50px;
}





#home {
    text-align: center;
}

footer {
    background: black;
}

#principios {
    font-family: sans-serif;
    text-align: center;
}



#page-container {
    height: 100%;
    background-color: #222;
    color: white;
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 3rem;
}

footer {
    text-align: center;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}






/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    ...
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    ...
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    ...
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .svg-icon {}

}
